<Settings>
  <pollingRate>5</pollingRate>
  <folderLocation>\project\</folderLocation>
  <url>service:jmx:rmi:///jndi/rmi://:9999/jmxrmi</url>
  <BeanList>
    <Bean>
      <name>com.example:type=Hello</name>
      <alias>Hello</alias>
      <AttributeList>
        <Attribute>
          <dataType>STRING</dataType>
          <name>Name</name>
          <alias>Name</alias>
        </Attribute>
        <Attribute>
          <dataType>INT</dataType>
          <name>CacheSize</name>
          <alias>CacheSize</alias>
        </Attribute>
      </AttributeList>
      <enable>true</enable>
    </Bean>
  </BeanList>
</Settings>